h1 Pocket Linter

p Let's be honest. Some of those things you sent to Pocket &hellip; you're not gonna' read'em later.

p Clean the lint from your pocket and start focusing on the content you care about.

p: a href=new_authentication_path class="button" Authenticate using Pocket
