h1 Pocket Linter
p Let's be honest. Some of those things you sent to #{link_to_pocket} &hellip; you're not gonna' read'em later.
p Clean the lint from your #{link_to_pocket} and start focusing on the content you care about.
p: a.button href=new_authentication_path Authenticate using Pocket
