---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/oauth/request
    body:
      encoding: UTF-8
      string: '{"consumer_key":"<POCKET_CONSUMER_KEY>","redirect_uri":"<POCKET_REDIRECT_URI>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Status:
      - 200 OK
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: code=8f2f900a-9c87-e9a7-640a-56a3f8
  recorded_at: Mon, 26 May 2014 03:44:29 GMT
recorded_with: VCR 2.9.1
